<div class="container-fluid pb-3">
  <div class="page-title">
    Chat
  </div>

  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card card-basic">
        <div class="card-body">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="80"
            [footerHeight]="'50'"
            [rowHeight]="'auto'"
            [count]="page.totalElements"
            [limit]="page.size"
            (page)="getData($event)"
            [externalPaging]="true"
            (activate)="rowClicked($event)"
          >
            <ngx-datatable-column name="USERNAME" prop="user.name">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="LAST CHAT" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd MMM yyyy' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="LAST MESSAGE" prop="message">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="STATUS" prop="status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
