.text-header {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.25;
    color: #c5c5c5;
}

.text-label {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.21;
    color: #353535;
}

