<div class="container-fluid">

  <div class="page-title">
    <button class="btn rounded-circle" (click)="back()">
      <i class="fas fa-arrow-left"></i>
    </button>
    {{ detail?.transaction_code }} Transaction Details
  </div>

  <div class="row pb-3">
    <div class="col-8">
      <div class="card card-basic">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">ORDER ID</div>
                <div class="col text-label">{{ detail?.transaction_code }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">VALUE</div>
                <div class="col">{{ detail?.price | currency:'Rp. ':'symbol':'0.0' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">NEGATIVE REQUEST</div>
                <div class="col">{{ detail?.negative?.name }}</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">TRANSACTION DATE</div>
                <div class="col">{{ detail?.created_at | date:'dd MMM yyyy' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">RECEIVED DATE</div>
                <div class="col">{{ detail?.received_date | date:'dd MMM yyyy' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12 text-header">ORDER TYPE</div>
                <div class="col">{{ detail?.order_type?.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-basic">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-7 col-12">
              <div class="row">
                <div class="col-12 text-header">ORDER STATUS</div>
                <div class="col">{{ detail?.transaction_status?.name }}</div>
              </div>
            </div>
            <div class="col-xl-5 col-12">
              <div class="row">
                <div class="col-12 text-header" *ngIf="detail?.user_shipment_proof || (detail?.courier && detail?.courier_receipt)">
                  PROOF OF SHIPMENT
                </div>
                <div class="col">
                  <u style="cursor: pointer;"
                    *ngIf="detail?.user_shipment_proof"
                    (click)="showModalUserPayment()">
                    See User PoS
                  </u>
                </div>
                <!-- <div class="col">
                  <u style="cursor: pointer;"
                    *ngIf="detail?.courier && detail?.courier_receipt"
                    (click)="showModalInputProofShipment(true)">
                    See Admin PoS
                  </u>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="row">
                <div class="col-12 text-header" *ngIf="detail?.transaction_status?.status_id == 1">&nbsp;</div>
                <div class="col">
                  <div *ngIf="detail?.transaction_status?.status_id == 1">&nbsp;</div>
                  <button class="rounded btn btn-green col-12"
                    (click)="showModalGoToProcess()"
                    *ngIf="detail?.transaction_status?.status_id == 2">
                    Film Received, Going to Process
                  </button>
                  <button class="rounded btn btn-green col-12"
                    (click)="showModalShareFilm()"
                    *ngIf="detail?.transaction_status?.status_id == 3">
                    Share Film Gallery
                  </button>
                  <button class="rounded btn btn-green col-12"
                    (click)="showModalInputProofShipment()"
                    *ngIf="detail?.transaction_status?.status_id == 4">
                    Input Proof of Shipment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="mt-3">
    <small class="float-right">Total Roll: {{ detail?.films?.length }}</small>
    Film Roll Details
  </h5>

  <div class="row pb-3">
    <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let f of detail?.films; let i = index">
      <div class="card card-basic">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-6 text-header">
              <b>FILM {{ f?.order }}</b>
            </div>
            <div class="col-6 text-right text-label">
              <u style="cursor: pointer;" (click)="showModalEditFilm(f)">Edit</u>
            </div>
          </div>
          <div class="row mb-2 mt-3">
            <div class="col-6 text-header">FILM BRAND</div>
            <div class="col-6 text-right text-label">{{ f?.film_brand }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">FILM TYPE</div>
            <div class="col-6 text-right text-label">{{ f?.film_type?.name }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">FORMAT</div>
            <div class="col-6 text-right text-label">{{ f?.film_format?.name }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">SCAN TYPE</div>
            <div class="col-6 text-right text-label">{{ f?.scan_type?.name }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">SCANNER</div>
            <div class="col-6 text-right text-label">{{ f?.scanner?.name }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">PROCESS</div>
            <div class="col-6 text-right text-label">{{ f?.push_pull?.name || 'Normal' }}</div>
          </div>
          <div class="row my-2">
            <div class="col-6 text-header">AMOUNT</div>
            <div class="col-6 text-right text-label">{{ f?.push_pull_value || '-' }}</div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-6 text-header">NO. OF ROLLS</div>
            <div class="col-6 text-right text-label">{{ f?.number_of_rolls }}</div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-header">
              <b>ADDITIONAL NOTES</b>
            </div>
            <div class="col-12 text-label">{{ f?.additional_notes }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isModalEditFilmShown" [config]="{ show: true }" (onHidden)="onHiddenEditFilm()" bsModal #modalEditFilm="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">FILM {{ filmEdit?.order }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalEditFilm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fgFilmEdit">
          <div class="form-group">
            <label for="">Film Brand</label>
            <input type="text" class="form-control custom-input" formControlName="film_brand" placeholder="Fuji" />
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <label for="">Scan Type</label>
                <select class="col-12" formControlName="scan_type_id">
                  <option value="{{ s?.scan_type_id }}" *ngFor="let s of scanTypeData">{{ s?.name }}</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Film Type</label>
                <select class="col-12" formControlName="film_type_id">
                  <option value="{{ f?.film_type_id }}" *ngFor="let f of filmTypeData">{{ f?.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <label for="">Scanner</label>
                <select class="col-12" formControlName="scanner_id">
                  <option value="{{ s?.scanner_id }}" *ngFor="let s of scannerData">{{ s?.name }}</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Format</label>
                <select class="col-12" formControlName="film_format_id">
                  <option value="{{ f?.film_format_id }}" *ngFor="let f of filmFormatData">{{ f?.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <label for="">Process</label>
                <select class="col-12" formControlName="push_pull_id">
                  <option value="{{ p?.push_pull_id }}" *ngFor="let p of pushPullData">{{ p?.name }}</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Amount</label>
                <input type="number" class="form-control custom-input" formControlName="push_pull_value" placeholder="1" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Number of Rolls</label>
            <input type="number" class="form-control custom-input" formControlName="number_of_rolls" placeholder="1" />
          </div>
          <div class="form-group">
            <label for="">Additional Notes</label>
            <input type="text" class="form-control custom-input" formControlName="additional_notes" placeholder="Make it brighter!" />
          </div>
          <div class="form-group">
            <button class="rounded btn btn-green col-12" (click)="saveFilm()">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalGoToProcess" [config]="{ show: true }" (onHidden)="onHiddenGoToProcess()" bsModal #modalGoToProcess="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Are you sure the film has arrived and will process it?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalGoToProcess()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-3">
          <button class="rounded btn btn-outline-danger col mr-2" (click)="hideModalGoToProcess()">
            No
          </button>
          <button class="rounded btn btn-green col ml-2" (click)="goToProcess()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShareFilm" [config]="{ show: true }" (onHidden)="onHiddenShareFilm()" bsModal #modalShareFilm="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Are you sure you want to share the photo results?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalShareFilm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-3">
          <button class="rounded btn btn-outline-danger col mr-2" (click)="hideModalShareFilm()">
            No
          </button>
          <button class="rounded btn btn-green col ml-2" (click)="shareFilm()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalInputProofShipment" [config]="{ show: true }" (onHidden)="onHiddenInputProofShipment()" bsModal #modalInputProofShipment="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Proof Of Shipment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalInputProofShipment()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fgProofShipment">
          <div class="form-group">
            <label for="">Courier</label>
            <input type="text" class="form-control custom-input" formControlName="courier" placeholder="JNE" />
          </div>
          <div class="form-group">
            <label for="">Proof of Shipment</label>
            <input type="text" class="form-control custom-input" formControlName="courier_receipt" placeholder="ASDF-1234" />
          </div>
          <div class="form-group" *ngIf="!disableInputProofShipment">
            <button class="rounded btn btn-green col-12" (click)="inputProofShipment()" [disabled]="!fgProofShipment.valid">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalUserPayment" [config]="{ show: true }" (onHidden)="onHiddenUserPayment()" bsModal #modalUserPayment="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Proof Of Shipment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalUserPayment()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="w-100" [src]="detail?.user_shipment_proof" />
      </div>
    </div>
  </div>
</div>