<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>

<section class="main-container" [ngClass]="{ collapsed: collapedSideBar }">
  <div class="bg-blue">
    <div class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-white" aria-hidden="true"></i>
      </button>
      <ul class="navbar-nav ml-auto mt-3">
        <li class="nav-item dropdown" dropdown>
          <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" style="max-height: 384px; overflow-y: scroll;">
            <a class="dropdown-item px-3 {{ i.is_read ? 'text-muted' : ''}}" (click)="openNotif(i)" *ngFor="let i of notif" style="cursor: pointer;">
              <small>{{ i?.created_at | date:'dd MMM yyyy, HH:mm:ss' }}</small>
              <div>{{ i?.message }}</div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;">
            {{ authSrv.user?.username }}
            <!--   <span *ngIf="authSrv.user?.username === '1'">(Super Admin)</span>
                  <span *ngIf="authSrv.user?.username != '1'">(Admin)</span> -->
            <span>(tes)</span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item px-3">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-container p-3" (click)="closeSidebar()">
    <router-outlet></router-outlet>
  </div>
</section>
